* {
	font-family: 'Pontano Sans', sans-serif !important;
}

body {
	background: $bodybg !important;
}

// Global container
#globalContainer {
	width: auto !important;
	max-width: 940px !important;
	margin-top: 19px !important;
	padding-right: 0 !important;
}

// Main container
#mainContainer {
	// Right sidebar
	#rightCol {
		display: none !important;
	}

	// Main content column
	#contentCol {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}

// Chat sidebar and dock
#pagelet_sidebar, #pagelet_dock {
	display: none !important;
}