#pagelet_ticker {
	display: none !important;
}

.uiScrollableAreaBody{
	width: 100% !important;
}

/* Sidebar Search box container */
._51mz{
	border-collapse: initial !important;
	background: #e9eaed !important;
	margin: 0 !important;
}
.fbChatSidebar ._5q88.fbChatTypeahead .textInput{
	padding: 20px 0 20px 30px !important;
}

.uiScrollableAreaWrap{
	padding-top: 18px !important;
}

._51mz input:focus{
	background: #FFF !important;
}

/* Magnifying Glass */
._5pr2 ._5q87{
	top: 13px !important
}

._554m, ._42fz{
	width: 90% !important;
	padding: 5px 20px !important;
	float: none !important;
	&:first-child {
		padding-top: 32px !important;
	}
}

._5pr2 ._4oes{
	height: 40px !important;
}

._55ln{
	height: 40px !important;
	padding: 7px 20px !important;
	line-height: 40px !important;
	&:hover {
		border-color: transparent !important;
	}
}

.fbChatSidebar{
	border-left-color: #E2E2E2 !important;
	width: 295px !important;
	height: 100% !important;
}

.fbSidebarGripper{
	display: none !important;
}

/* Translations */
._50-v.fbNub._4up {
	display: none;
}

/* Chat Popups */
.sidebarMode ._48gf {
	right: 310px !important;
}

._55lt img {
	width: 40px !important;
	height: 40px !important;
}

._55lr {
	padding-left: 20px !important;
	font-size: 13px !important;
	font-weight: 100 !important;
}

._5bon {
	line-height: 40px !important;
}