/*
* Flatbook 0.1
* https://github.com/danbovey/Flatbook

* Dan Bovey - http://danbovey.uk
* Dafz Thomas - http://dafz.uk
*/
/* ---------- Homepage ---------- */
/* Header */
._4f7n {
  height: 64px !important;
  border-bottom: none !important;
  background: #3B5999 !important;
  box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.52) !important; }

/* Header content */
._5vb_ ._uaw {
  position: relative;
  top: 11px;
  width: auto !important;
  margin-left: 141px;
  margin-right: 158px; }

/* Logo */
._5lus {
  left: 43px !important; }

#flatbook-hamburger {
  position: absolute;
  top: 4px;
  border: none;
  background: none;
  font-size: 21px;
  color: #FFF;
  cursor: pointer; }

/* Borders */
._2wnm._56lq {
  position: relative !important;
  top: -21px !important;
  height: 64px !important;
  border-right: 1px solid #334e85 !important; }

.sidebarMode ._uaw {
  padding-right: 0 !important; }

#searchBarClickRef {
  display: none !important; }

._55bh:after {
  background: none !important; }

/* Privacy shortcuts */
#navPrivacy {
  display: none !important; }

/* Global container */
#globalContainer {
  padding-top: 45px; }

/* Left column */
._5vb_.hasLeftCol #leftCol {
  display: none; }

/* Main column */
html ._5vb_.hasLeftCol #contentCol {
  margin-left: 0 !important; }

html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
  width: 65% !important; }

/* Update status buttons */
._5t_y ._1dsl {
  padding: 27px 20px 5px !important; }

._4ki._6-h > li {
  padding-bottom: 5px !important; }
  ._4ki._6-h > li:after {
    background: none !important; }

._5t_y ._1dsl {
  margin: 0 !important; }

._5t_y ._51z7 {
  position: relative;
  top: -9px; }

html ._5t_y ._2wr, html ._5p3y ._5t_y ._2wr {
  top: 30px !important; }

/* Create Photo Album */
._4oki {
  display: none !important; }

/* Media */
._5v3q ._4-eo {
  width: 100% !important; }

.uiScaledImageContainer {
  width: 100% !important; }
  .uiScaledImageContainer img {
    width: 100% !important; }
  .uiScaledImageContainer .uiScaledImageContainer.scaledImageFitHeight {
    width: auto !important; }

._59ap ._6m3 {
  position: absolute !important;
  bottom: 0 !important;
  z-index: 1 !important;
  color: #FFF !important; }

._6m7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 16px;
  max-width: 75%;
  max-height: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

._59ap ._59tj {
  display: inline-block !important; }

._5v3q ._5x46 {
  padding: 12px 18px !important; }

._5p3y ._5pbx {
  padding: 0 30px !important; }

.fbChatSidebar {
  width: 295px !important;
  top: 64px !important; }

#pagelet_ticker {
  display: none !important; }

.uiScrollableAreaBody {
  width: 100% !important; }

/* Sidebar Search box container */
._51mz {
  border-collapse: initial !important;
  background: #e9eaed !important;
  margin: 0 !important; }

.fbChatSidebar ._5q88.fbChatTypeahead .textInput {
  padding: 20px 0 20px 30px !important; }

.uiScrollableAreaWrap {
  padding-top: 18px !important; }

._51mz input:focus {
  background: #FFF !important; }

/* Magnifying Glass */
._5pr2 ._5q87 {
  top: 13px !important; }

._554m, ._42fz {
  width: 90% !important;
  padding: 15px 20px !important;
  float: none !important; }

._5pr2 ._4oes {
  height: 40px !important; }

._55ln {
  padding: 10px 20px; }

.fbChatSidebar {
  border-left-color: #E2E2E2 !important;
  top: 22px !important;
  height: 96% !important; }

.fbSidebarGripper {
  display: none !important; }

/* Translations */
._48gf.fbDockWrapper.fbDockWrapperRight._5q5b {
  display: none !important; }

/* Footer */
.rhcFooterWrap {
  text-align: center; }
