/*
* Flatbook 0.1
* https://github.com/danbovey/Flatbook

* Dan Bovey - http://danbovey.uk
* Dafz Thomas - http://dafz.uk
*/

._4f7n {
	height: 64px !important;
}

._5vb_ ._uaw {
	position: relative;
	top: 11px;
}

#globalContainer {
	padding-top: 45px;
}