/*
* Flatbook 0.1
* https://github.com/danbovey/Flatbook

* Dan Bovey - http://danbovey.uk
* Dafz Thomas - http://dafz.uk
*/

/* ---------- Homepage ---------- */

/* Header */
._4f7n {
	height: 64px !important;
	border-bottom: none !important;
	background: #3B5999 !important;
	box-shadow: 0 0px 20px 3px rgba(0, 0, 0, .52) !important;
}

/* Header content */
._uaw {
	position: relative !important;
	top: 11px !important;
	width: auto !important;
	margin-left: 141px !important;
	margin-right: 158px !important;
}

/* Logo */
._5lus {
	left: 43px !important;
}

#flatbook-hamburger {
	position: absolute;
	top: 4px;
	border: none;
	background: none;
	font-size: 21px;
	color: #FFF;
	cursor: pointer;
}

/* Borders */

._2wnm._56lq {
	position: relative !important;
	top: -21px !important;
	height: 64px !important;
	border-right: 1px solid #334e85 !important;
}


.sidebarMode ._uaw {
	padding-right: 0 !important;
}

#searchBarClickRef {
	display: none !important;
}

._55bh:after {
	background: none !important;
}

/* Privacy shortcuts */
#navPrivacy {
	display: none !important;
}

/* Global container */
#globalContainer {
	padding-top: 45px !important;
}

	/* Left column */
	._5vb_.hasLeftCol #leftCol {
		display: none !important;
	}

	/* Main column */
	html ._5vb_.hasLeftCol #contentCol {
		margin-left: 0 !important;
	}

	html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
		width: 65% !important;
	}

	/* Update status buttons */
	._5t_y ._1dsl {
		padding: 27px 20px 5px !important;
	}
	._4ki._6-h > li {
		padding-bottom: 5px !important;
		&:after {
			background: none !important;
		}
	}
	._5t_y ._1dsl {
		margin: 0 !important;
	}
	._5t_y ._51z7 {
		position: relative !important;
		top: -9px !important;
	}
	html ._5t_y ._2wr, html ._5p3y ._5t_y ._2wr {
		top: 30px !important;
	}
	/* Create Photo Album */
	._4oki {
		display: none !important;
	}

	/* Media */
	._5v3q ._4-eo {
		width: 100% !important;
	}
	.uiScaledImageContainer {
		width: 100% !important;
		img {
			width: 100% !important;
		}
		.uiScaledImageContainer.scaledImageFitHeight {
			width: auto !important;
		}
	}

	._59ap ._6m3 {
		position: absolute !important;
		bottom: 0 !important;
		z-index: 1 !important;
		color: #FFF !important;
	}

	._6m7 {
		overflow: hidden !important;
		text-overflow: ellipsis !important;
		display: inline-block !important;
		line-height: 16px !important;
		max-width: 75% !important;
		max-height: 16px !important;
		-webkit-line-clamp: 2 !important;
		-webkit-box-orient: vertical !important;
	}

	._59ap ._59tj {
		display: inline-block !important;
	}

	._5v3q ._5x46 {
		padding: 12px 18px !important
	}

	._5p3y ._5pbx {
		padding: 0 30px !important;
	}

@import "chatSidebar";
@import "messages";

/* Footer */
.rhcFooterWrap {
	text-align: center !important;
}