/*
* Flatbook 0.1
* https://github.com/danbovey/Flatbook

* Dan Bovey - http://danbovey.uk
* Dafz Thomas - http://dafz.uk
*/

/* ---------- Homepage ---------- */

/* Header */
._4f7n {
	height: 64px !important;
	border-bottom: none !important;
	background: #3B5999 !important;
	box-shadow: 0 0px 20px 3px rgba(0, 0, 0, .52) !important;
}

/* Header content */
._5vb_ ._uaw {
	position: relative;
	top: 11px;
	width: auto !important;
	margin-left: 141px;
	margin-right: 200px;
}

/* Logo */
._5lus {
	left: 43px !important;
}

#flatbook-hamburger {
	position: absolute;
	top: 4px;
	border: none;
	background: none;
	font-size: 21px;
	color: #FFF;
	cursor: pointer;
}


.sidebarMode ._uaw {
	padding-right: 0 !important;
}

#searchBarClickRef {
	display: none !important;
}

._55bh:after {
	background: none !important;
}

/* Privacy shortcuts */
#navPrivacy {
	display: none !important;
}

/* Global container */
#globalContainer {
	padding-top: 45px;
}

	/* Left column */
	._5vb_.hasLeftCol #leftCol {
		display: none;
	}

	/* Main column */
	html ._5vb_.hasLeftCol #contentCol {
		margin-left: 0 !important;
	}

	html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
		width: 65% !important;
	}

	/* Update status buttons */
	._5t_y ._1dsl {
		padding: 27px 20px 5px !important;
	}
	._4ki._6-h > li {
		padding-bottom: 5px !important;
		&:after {
			background: none !important;
		}
	}
	._5t_y ._1dsl {
		margin: 0 !important;
	}
	._5t_y ._51z7 {
		position: relative;
		top: -9px;
	}
	html ._5t_y ._2wr, html ._5p3y ._5t_y ._2wr {
		top: 30px !important;
	}
	/* Create Photo Album */
	._4oki {
		display: none !important;
	}

/* Chat Sidebar */
.fbChatSidebar {
	width: 295px !important;
	top: 64 !important;
}

/* Ticket */
#pagelet_ticker {
	display: none !important;
}

#uiScrollableAreaBody {
	width: 100% !important;
}

/* Translations */
._48gf.fbDockWrapper.fbDockWrapperRight._5q5b {
	display: none !important;
}

/* Media */
.uiScaledImageContainer {
	width: 100% !important;
}

/* Footer */
.rhcFooterWrap {
	text-align: center;
}