._5uj5 #globalContainer {
	padding-top: 24px !important;
}
._5uj5 #rightCol {
	display: none !important;
}
.mbs {
	margin-bottom: 20px !important;
}

#mainContainer #pagelet_rhc_footer {
	display: none !important;
}