._5txy {
	#rightCol {
		position: absolute !important;
		top: 77px !important;
		left: 861px !important;
	}
}

/* Page Manager Top Bar Fixed */
._c7_ {
	position: relative !important;
	top: 18px !important;
}