// Profile Content Area
.timelineLayout div#contentArea {
	width: 100% !important;

	// Sticky Header
	.fbTimelineStickyHeader {
		top: 61px !important;
		width: 100% !important;

		.stickyHeaderWrap, .back {
			width: 940px !important;
		}
	}

	// My profile pic
	.profilePicThumb {
		background: none !important;

		.profilePic {
			border: none !important;
			border-radius: 0 !important;
			box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
		}
	}

	// Timeline Container
	.fbTimelineCapsule {
		padding-top: 0 !important;
	}

	// My Status
	._4zoz {
		background: #FFF !important;
	}

	// Tab Container
	._2w3 {
		width: 100% !important;
	}

	// Sidebar
	._1vc- {
		// Sidebar Widget
		._4-u2._4-u8 {
			padding: 20px !important;
			border-radius: 0 !important;
			background: #FFF !important;
		}
		// Info Sidebar
		._2pi4 {
			padding-top: 0 !important;
		}

		// Photos Sidebar
		._51m- {
			.uiScaledImageContainer {
				width: 87px !important;
				height: 87px !important;
			}
		}

		// Friends Sidebar 
		._3s6w {
			overflow: hidden !important;
			width: 87px !important;
			height: 87px !important;
		}
	}
}